RC2526P1/aaaa.txt
RC2526P1/dados.bin
RC2526P1/evento1.txt
RC2526P1/evento2.txt
RC2526P1/ficheiro_vazio.dat
RC2526P1/imagem_pequena.jpg
RC2526P1/longo_nome_de_ficheiro_23.log
RC2526P1/readme.txt
RC2526P1/ES
RC2526P1/user
RC2526P1/*.o

SCRIPTS_25-26/
Event_Data/

plan.txt